@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('component.css');

/* Main Home File CSS */
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body {
    background-color: var(--primary-color);
}

header.homepage {
    display: flex;
}

nav {
    width: 560px;
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    animation: slideOnTop 2s;
}

ul.nav-list {
    width: 100%;
    list-style: none;
    text-align: center;
}

ul.nav-list > li:first-child {
    transform: translateY(-150%);
}

li.nav-item {
    padding: 20px 0;
    opacity: 0.5;
    font-weight: 600;
}

li.nav-item:hover {
    transform: translateX(5%);
    transition: 0.8s;
    opacity: 1;
}

a.nav-links {
    color: var(--dark-text-color);
    text-decoration: none;
    font-size: 23px;
}

.nav-icon {
    display: none !important;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row-profile {
    display: flex;
    justify-content: space-around;
}

aside.profile-description {
    flex-basis: 500px;
    padding: 20px;
}

.text-title {
    color: var(--text-color);
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
    animation: slideOnRight 1s;
}

.text-title > span {
    font-weight: 700;
}

.text-content {
    font-size: 3em;
    font-weight: 700;
    margin: 30px 0 ;
    color: crimson;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
    animation: fadeIn 3s;
}

.btn-lg {
    width: 300px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    animation: fadeIn 2.5s;
}

.btn-lg:hover {
    background-color: var(--third-color);
    transition: 0.8s;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    font-size: 35px;
}

.social-media > .soc {
    position: relative;
    padding: 0 10px 20px;
}
.social-media > .soc > p {
    margin: 0 10px;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.social-media > .soc > span {
    color: var(--third-color);
    display: none;
    position: absolute;
    padding: 3px;
    font-weight: 700;
    bottom: 0;
    font-size: 14px;
    cursor: context-menu;
}
.social-media > .soc:hover > p {
    color: var(--third-color);
    transform: scale(1.1);
}
.social-media > .soc:hover > span {
    display: block;
    animation: fadeIn 0.8s;
}
.profile-img {
    flex-basis: 350px;
    animation: zoomIn 1.5s;
}

.profile-img > img {
    width: 100%;
}


@media screen and (max-width: 1000px) {
    a.nav-links {
        font-size: 18px;
    }
    .text-title{
        font-size :26px;
    }
    .text-content{
        font-size: 3em;
    }
    .profile-img {
        flex-basis: 260px;
    }
    .soc > p {
        font-size: 20px;
    }
}
@media screen and (max-width: 780px) {
    a.nav-links {
        font-size: 15px;
    }
    .text-title{
        font-size :23px;
    }
    .text-content{
        font-size: 2em;
    }
    .profile-img {
        flex-basis: 200px;
        flex-shrink: 0;
    }
    .btn-lg {
        width: 100px;
        padding: 8px;
        font-size: 14px;
    }
}

@media screen and (max-width:640px) {
    nav {
        display: none;
    }
    
    main {
        padding-top: 50px !important;
    }
    .row-profile {
        text-align: center;
        flex-direction: column-reverse;
    }
    .social-media {
        justify-content: center;
    }
  
    .profile-img {
        flex-basis: 80px !important;
        flex-shrink: 1;
    }
    .profile-img > img {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    main {
        min-height: 100vh;
    }
   
    a.nav-links {
        padding: 0 10px;
        font-size: 20px;
    }
}
